In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
data_raw = pd.read_csv("data/Hotel Reservations.csv")

# 1. Data Cleaning
1.1 make no_children => children (0 or 1 bianry)

1.2 % canceled reservations = no_of_previous_cancellations/(no_of_previous_cancellations+no_of_previous_bookings_not_canceled)

1.3 new column "total number of nights" = no_of_weekend_nights + no_of_week_nights

## 1.1 make no_children => children (0 or 1 bianry)

In [3]:
def children(n):
    if n == 0:
        return 0
    else:
        return 1

In [4]:
data_raw['no_of_children'] = data_raw['no_of_children'].apply(children)
data_raw.rename(columns={'no_of_children': 'children'}, inplace=True)

## 1.2 % canceled reservations = no_of_previous_cancellations/(no_of_previous_cancellations+no_of_previous_bookings_not_canceled)

In [5]:
pre_cx = data_raw['no_of_previous_cancellations']
pre_bk = data_raw['no_of_previous_bookings_not_canceled']
ttl_bk = pre_cx.add(pre_bk)
data_raw['cx_rsvn_pcg'] = pre_cx.div(ttl_bk)

## 1.3 new column "total number of nights" = no_of_weekend_nights + no_of_week_nights

In [6]:
week_nights = data_raw['no_of_week_nights']
weekend_nights = data_raw['no_of_weekend_nights']
nights_ttl = week_nights + weekend_nights
data_raw['nights_ttl'] = nights_ttl

In [7]:
rsvn = data_raw.drop(columns=['Booking_ID', 'no_of_weekend_nights', 'no_of_week_nights', 'arrival_year', 'arrival_month', 'arrival_date', 'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled', 'no_of_special_requests'])
rsvn.head()

,no_of_adults,children,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,market_segment_type,repeated_guest,avg_price_per_room,booking_status,cx_rsvn_pcg,nights_ttl
0,2,0,Meal Plan 1,0,Room_Type 1,224,Offline,0,65.00,Not_Canceled,NaN,3
1,2,0,Not Selected,0,Room_Type 1,5,Online,0,106.68,Not_Canceled,NaN,5
2,1,0,Meal Plan 1,0,Room_Type 1,1,Online,0,60.00,Canceled,NaN,3
3,2,0,Meal Plan 1,0,Room_Type 1,211,Online,0,100.00,Canceled,NaN,2
4,2,0,Not Selected,0,Room_Type 1,48,Online,0,94.50,Canceled,NaN,2

In [8]:
rsvn_sum1 = rsvn.describe()[[True,True,True,True,False, False,False, True]]
rsvn_sum1

,no_of_adults,children,required_car_parking_space,lead_time,repeated_guest,avg_price_per_room,cx_rsvn_pcg,nights_ttl
count,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,930.000000,36275.000000
mean,1.844962,0.074376,0.030986,85.232557,0.025637,103.423539,0.185795,3.015024
std,0.518715,0.262386,0.173281,85.930817,0.158053,35.089424,0.342397,1.786017
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.000000,1.000000,1.000000,443.000000,1.000000,540.000000,1.000000,24.000000

In [9]:
rsvn_sum2 = rsvn.info()
rsvn_sum2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   no_of_adults                36275 non-null  int64
 1   children                    36275 non-null  int64
 2   type_of_meal_plan           36275 non-null  object
 3   required_car_parking_space  36275 non-null  int64
 4   room_type_reserved          36275 non-null  object
 5   lead_time                   36275 non-null  int64
 6   market_segment_type         36275 non-null  object
 7   repeated_guest              36275 non-null  int64
 8   avg_price_per_room          36275 non-null  float64
 9   booking_status              36275 non-null  object
 10  cx_rsvn_pcg                 930 non-null    float64
 11  nights_ttl                  36275 non-null  int64
dtypes: float64(2), int64(6), object(4)
memory usage: 3.3+ MB

In [10]:
names = rsvn.columns.values
interp = ['Number of adults',
          'Number of Children',
          'Type of meal plan booked',
          'Car parking space required',
          'Type of room reserved',
          'Gap b/w booking and arrival date',
          'Market segmentation',
          'Whether booked before no matter cancelled or not',
          'Average room price per day (in euros)',
          'Booking canceled or not',
          'History cancelling rate (in %)',
          'Number of nights stayed']
dtype = ['Int', 'Bin', 'Cate', 'Bin', 'Cate', 'Int', 'Cate', 'Bin', 'Con', 'Bin', 'Con', 'Int']
range_level = rsvn.apply(pd.Series.nunique).values
rsvn_sum3 =  pd.DataFrame(
     {'col_name' : names,
      'interp' : interp,
      'dtp' : dtype,
      'range.or.level' : range_level
})
rsvn_sum3

,col_name,interp,dtp,range.or.level
0,no_of_adults,Number of adults,Int,5
1,children,Number of Children,Bin,2
2,type_of_meal_plan,Type of meal plan booked,Cate,4
3,required_car_parking_space,Car parking space required,Bin,2
4,room_type_reserved,Type of room reserved,Cate,7
5,lead_time,Gap b/w booking and arrival date,Int,352
6,market_segment_type,Market segmentation,Cate,5
7,repeated_guest,Whether booked before no matter cancelled or not,Bin,2
8,avg_price_per_room,Average room price per day (in euros),Con,3930
9,booking_status,Booking canceled or not,Bin,2
10,cx_rsvn_pcg,History cancelling rate (in %),Con,81
11,nights_ttl,Number of nights stayed,Int,25

In [12]:
numerical_columns = rsvn_sum3[(rsvn_sum3['dtp'] == 'Int') | (rsvn_sum3['dtp'] == 'Con')]['col_name'].values
categorical_columns = rsvn_sum3[(rsvn_sum3['dtp'] == 'Cate')]['col_name'].values
binary_columns = rsvn_sum3[(rsvn_sum3['dtp'] == 'Bin')]['col_name'].values
print(f'Numerical: {numerical_columns}\n Categorical: {categorical_columns} \n Binary: {binary_columns}')

Numerical: ['no_of_adults' 'lead_time' 'avg_price_per_room' 'cx_rsvn_pcg'
 'nights_ttl']
 Categorical: ['type_of_meal_plan' 'room_type_reserved' 'market_segment_type']
 Binary: ['children' 'required_car_parking_space' 'repeated_guest' 'booking_status']

## 1.4 Preliminary analysis and results

The dimension of the cleaned data frame for analysis is 36275 x 12 which contains 5 numerical variables, 3 categorical variables and 4 binary variables including the target variable `booking_status`. 

It is notable that `cx_rsvn_pcg`, the rate of previous bookings that were canceled by the customer prior to the current booking, contains many missing values. This indicates the customer never ever booked this hotel before, no matter the booking was canceled or not, so the corresponding value for `repeated_guest` would be 0.

Some children booked this hotel without the accompanies by any adults which can be seen from `0` in `no_of_adults` with `1` in `children`. So it might also be meaningful to pay additional attention to the feedback from some adults with `children = 1` and see their satisfactory of the safety of this hotel.